@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html.dark {
  color-scheme: dark;
  --color-zinc-950: #0b0b0f;
  --color-zinc-900: #111116;
  --color-zinc-850: #15151b;
  --color-zinc-800: #1c1c24;
  --color-zinc-700: #2b2b36;
  --color-zinc-600: #525266;
  --color-zinc-500: #71717a;
  --color-zinc-400: #a1a1aa;
  --color-zinc-300: #d4d4d8;
  --color-zinc-200: #e4e4e7;
  --color-zinc-100: #f4f4f6;
}

html.light {
  color-scheme: light;
  --color-zinc-950: #f8fafc;
  --color-zinc-900: #ffffff;
  --color-zinc-850: #f1f5f9;
  --color-zinc-800: #e2e8f0;
  --color-zinc-700: #cbd5e1;
  --color-zinc-600: #94a3b8;
  --color-zinc-500: #64748b;
  --color-zinc-400: #475569;
  --color-zinc-300: #334155;
  --color-zinc-200: #1e293b;
  --color-zinc-100: #0f172a;
}